includes:
	- vendor/hanaboso/php-check-utils/phpstan.neon # hanaboso rules

parameters:
	excludes_analyse:
	ignoreErrors:
		-
			message: '#Calling json_encode\(\) is forbidden, use Hanaboso\\Utils\\String\\Json::encode\(\) instead#'
			path: src/String/Json.php
		-
			message: '#Calling json_decode\(\) is forbidden, use Hanaboso\\Utils\\String\\Json::decode\(\) instead#'
			path: src/String/Json.php
		-
			message: '#Calling json_decode\(\) is forbidden, use Hanaboso\\Utils\\String\\Json::decode\(\) instead#'
			path: src/Traits/ControllerTrait.php
	symfony:
		container_xml_path: %rootDir%/../../../var/cache/test/UtilsTests_KernelTestDebugContainer.xml
