includes:
	- vendor/hanaboso/php-check-utils/phpstan.neon # hanaboso rules

parameters:
	excludes_analyse:
	ignoreErrors:
		-
			message: '#Calling json_encode\(\) is forbidden, use Hanaboso\\Utils\\String\\Json::encode\(\) instead#'
			path: src/String/Json.php
		-
			message: '#Calling json_decode\(\) is forbidden, use Hanaboso\\Utils\\String\\Json::decode\(\) instead#'
			path: src/String/Json.php
		-
			message: '#Calling json_decode\(\) is forbidden, use Hanaboso\\Utils\\String\\Json::decode\(\) instead#'
			path: src/Traits/ControllerTrait.php
		-
			message: '#Error suppression via "@" should not be used.#'
			path:  src/File/File.php
	symfony:
		container_xml_path: %rootDir%/../../../var/cache/test/UtilsTests_KernelTestDebugContainer.xml
	ergebnis:
		classesNotRequiredToBeAbstractOrFinal:
			- Hanaboso\Utils\Date\DateTimeUtils
			- Hanaboso\Utils\Exception\PipesFrameworkException
			- Hanaboso\Utils\System\ControllerUtils
			- Hanaboso\Utils\System\PipesHeaders
		classesAllowedToBeExtended:
			- Hanaboso\Utils\Enum\EnumAbstract
			- Hanaboso\Utils\Exception\PipesFrameworkExceptionAbstract
			- PHPStan\Testing\TestCase
			- UtilsTests\KernelTestCaseAbstract
